@import url('https://fonts.googleapis.com/css2?family=Martel:wght@900&display=swap');

html,
body {
  font-family: 'Martel', serif;
  height: 100%;
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
  background-color: #FFD1C7;
  overflow: scroll;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #FFD1C7;
}

#content {
  background-color: #FFD1C7;
  padding-top: 50px;
  color: #F04D2C;
  max-width: 1500px;
  min-width: 1250px;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-template-rows: 350px 50px 1fr;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.desc {
  height: 50px;
  display: grid;
  align-items:flex-end;
  animation: fadeInOpacity 1s;
}

.menu {
  border-style: double;
  max-width: 1000px;
  min-width: 750px;
  display: grid;
  grid-template-rows: 0.1fr 0.5fr 0.5fr 0.5fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 25px;
  animation: fadeInOpacity 1s;
}

img {
  border-style: solid;
  border-color: #F04D2C;
}

.about {
  border-style: double;
  max-width: 1000px;
  min-width: 750px;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
  animation: fadeInOpacity 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}